
        .medio{
            height: 50%;
            width: 50%;
            text-align: center;
            color: #fff;
            background-color: blue;
            margin: 0 auto;
        }
