
        .verticalLine { 
        width: 3%;
        background-color: red; 
        height: 1000px;  
        float: left;
             
    }
    .verticalLine1 { 
        width: 3%;
        background-color: blue; 
        height: 1000px;  
        float: left;
    }  
    .verticalLine2 { 
        width: 9%;
        background-color:yellow; 
        height: 1000px;  
        float: left;
    }
    .verticalLine3 { 
        width: 16%;
        background-color: red; 
        height: 1000px;  
        float: left;
             
    }
    .verticalLine4 { 
        width: 27%;
        background-color: blue; 
        height: 1000px;  
        float: left;
    }
    .verticalLine5 { 
        width: 42%;
        background-color:yellow; 
        height: 1000px;  
        float: left;
    }
